.section {
    display: flex;
    padding: auto;
    padding: 40px;
    width: 60%;
    margin-left: 500px;
    
  }
  .section .text {
    margin: 5px;
    font-size: 20px;
    color: hsl(0, 98%, 66%);
  }
  .section img {
    height: 250px;
    margin-left: 220;
    border-radius: 3em;
  }
  select[name="devices"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    appearance: none; /* デフォルトの矢印を非表示にする */
    background-position: right center;
    background-repeat: no-repeat;
  }
